{% extends "base.html" %} {% block title %} Appointment {% endblock %}
{% block content %}
<div class = "container div_position1">
    <h2> Booked Appointments </h2> 
   </div>
   <div class="div_position3">
    <table class="table">
        <thead class="table-info">
          <tr>
            <th scope="col">Customer Id</th>
            <th scope="col">Property Id</th>
            <th scope="col">Property Price</th>
            <th scope="col">Property location</th>
            <th scope="col">Date time</th>
          </tr>
        </thead>
        <tbody>
          {% for property in properties %}
          <tr>
            <th scope="row">{{property.user_id}}</th>
            <td>{{property.property_id}}</td>
            <td>{{property.property_price}}</td>
            <td>{{property.property_location}}</td>
            <td>{{property.date}}</td>
            <td>
              <form action="/recall_appointment/{{property.property_id}}" method="post">
                <button type="submit" class="btn btn-danger"><span>&times;</span></button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
 </div>
{% endblock%}