{% extends "base.html" %} {% block title %} Buy {% endblock %}
{% block content %} 
<div>
    <div class = "container div_position">
     <form class="form-inline">
     <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-primary" type="submit">Search</button>
  </form>
   </div>
   <div>
    <div class = "container div_position1">
    <h2> Buy </h2> 
   </div>
   <div class="col-sm-6 col-md-4 my-4 mod_card">
    <div class="card h-100 mod_card border-rad" id="image-gallery">
        <!-- Product image-->
        <div class="gallery-container">
        <i class="fas fa-chevron-left gallery-arrow" id="prev"></i>
        <img class="card-img-top mod_img border-rad gallery-image" src="static/picture2.jpg" alt="..."/>
        <img class="card-img-top mod_img border-rad gallery-image" src="static/background.jpg" alt="..."/>
        <i class="fas fa-chevron-right gallery-arrow" id="next"></i>
        </div>
        <!-- Product details-->
        <div class="card-body p-3">
            <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">Sale Item</h5>
                <!--Property price-->
                <div>1,680 $</div>
                <!--Property area-->
                <div>145 sqft</div>
                <!--Property Location-->
                <div>Kanomombe</div>
            </div>
        </div>
        <!-- Product actions-->
        <div class="card-footer p-3 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View Property</a></div>
        </div>
    </div>
  </div>
{% endblock %}