{% extends "base.html" %} {% block title %} Buy {% endblock %}
{% block content %} 
<div>
    <div class = "container div_position">
     <form class="form-inline">
     <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-primary" type="submit">Search</button>
  </form>
   </div>
   <div>
    <div class = "container div_position1">
    <h2> Buy </h2> 
   </div>
    <div class="house div_position2">
    <img src="background.jpg" alt="House Image">
   <div class="house-details">
   <h3 class="house-title">Condor</h3>
   <p class="house-description">This stunning house.</p>
   <p class="house-price">$200 per night</p>
   <p class="house-area">2000 sq. ft</p>
   </div>
 <button type="button" class="btn btn-primary btn-sm">Small button</button>
 </div>
</div> 
{% endblock %}