{% extends "base.html" %} {% block title %} Favourite {% endblock %} 
{% block content %}
<div class = "container div_position1">
    <h2> Favourite properties </h2> 
   </div>
   <div class="div_position3">
    <table class="table">
        <thead class="table-success">
          <tr>
            <th scope="col">Property Id</th>
            <th scope="col">Property Type</th>
            <th scope="col">Property Price</th>
            <th scope="col">Property Area</th>
            <th scope="col">Property Location</th>
          </tr>
        </thead>
        <tbody>
          {% for property in properties %}
          <tr>
            <th scope="row">{{property.property_id}}</th>
            <td>{{property.property_type}}</td>
            <td>{{property.property_price}}</td>
            <td>{{property.property_area}}</td>
            <td>{{property.property_location}}</td>
            <td>
              <form action="/remove_favourite/{{property.property_id}}" method="post">
                <button type="submit" class="btn btn-danger"><span>&times;</span></button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      
      </table>
 </div>
{% endblock %}