{% extends "base.html" %} {% block title %} Favourite {% endblock %} 
{% block content %}
<div class = "container div_position1">
    <h2> Favourite properties </h2> 
   </div>
   <div class="div_position3">
    <table class="table">
        <thead class="table-success">
          <tr>
            <th scope="col">Property Id</th>
            <th scope="col">Property Type</th>
            <th scope="col">Property Price</th>
            <th scope="col">Property Area</th>
            <th scope="col">Property Location</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
            <td>@mdo</td>
          </tr>
        </tbody>
      </table>
 </div>
{% end block %}